// params.config

params {
  trimAdapter = 'ILLUMINACLIP:/path/to/trimomatic/adapters/TruSeq3-PE.fa:2:30:10'
  alignGenomeDir = '/path/to/genome/index'
  alignGTF = '/path/to/genome/annotations.gtf'
  multiqcDir = 'data/output/multiqc'
}

// docker.config

profiles {
  docker {
    process.executor = 'docker'
    singularity.enabled = false
  }
}

docker {
  enabled = true
  cacheDir = "${baseDir}/.nextflow/docker"
}

process {
  withName: 'fastqc' {
    container = 'fastqc:latest'
  }
  withName: 'trim' {
    container = 'trimomatic:latest'
  }
  withName: 'star' {
    container = 'star:latest'
  }
  withName: 'featureCounts' {
    container = 'subread:latest'
  }
  withName: 'multiqc' {
    container = 'multiqc:latest'
  }
}
